nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #f2ece7;
    color: #223366;
}
.image_iphone{
    width: auto;
    
    
}
