nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #f2ece7;
    color: #223366;
}
.img-1 img{
    position: absolute; 
    top: 160px; 
    width: 290px;
    left:250px;
    margin: 25px;
    box-sizing: border-box; 
    

    }
.img_iphone_pro img{
    position: absolute;
    top:160px;
    width: 300px;
    left: 900px;
    margin: 25px;
    box-sizing: border-box; 
    
  
}

.tr{
    display: block;
    color: white;
    padding: 20px 50px;
    text-decoration: none;
}
th{
    font-size: 20px;
    display: inline-block;
    margin-right: 300px;
    color: #000000;
    text-align: center;
}
.texte_t1{
position: absolute;
font-size: 25px;
color: #000000;
left: 380px;
top: 450px;

}
.texte_t2{
    position: absolute;
    font-size: 25px;
    color: #000000;
    left: 1020px;
    top: 450px;
    }
    .Titre_cat{
        text-align: center;
    }

    .img-3 img{
            position: relative; 
            width: 290px;
            left:250px;
            margin: 25px;
            box-sizing: border-box; 

    }